body{
    font-family: 'Bebas Neue', sans-serif;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(./images/background.jpeg);
    background-size: cover;
    background-position: 50%;
    height:90vh;

}




/* navbar css */
nav img{
    width: 13%;

}
.red-btn{
    background: rgb(229,9,20);
    color:#fff;
    border:0;
    border-radius: 0.25rem;
    padding:5px 17px;

}
.red-btn:hover{
    background: rgb(193,17,25);
}

/* hero section */
.hero-title{
    font-size: 3rem;
    font-weight:900;

}
.hero-first-p{
    font-size:1.5rem;
    font-weight:400;

}
.hero-second-p{
    font-size:1.25rem;
    font-weight:400;
    line-height:1.875rem;
}

/*  */


/*  */








form {
    width:60%;
}
form #floatinngInput{
    color:#fff;
}
form .form-control:focus{
    background-color: #fff;
    box-shadow: none;
    border-width: medium;
}
form .form-floating>.form-control:focus~label{
color:rgba(255,255,255,0.7);

}
form .form-floating>.form-control:focus~label::after{
    background-color:transparent;
}

form .form-floating{
    width:50%;

}





form #floatingInput{
    background: transparent;
}
form label{
    color:rgba(255,255,255,0.7);
    margin-left:10px;
}
.get-started-btn{
    height:60px;
    font-size:1.5rem;
    padding-right:25px;
    padding-left:25px;
}
.get-started-btn::after
{
    content:"\276F";
    margin-left:5px;

}
/* enjoy section */
.section-title{
    font-size:3rem;
    font-weight: 400;
}
/* watch */
.watch-section,.download-section {
    border-top:5px solid #232323;
    border-bottom:5px solid #232323;

}


/* faq */

.faq-section h3{
font-size:1.25rem;
font-weight:400;
line-height: 1.87rem;
}

.faq-section button{
    color:#fff;
    font-size:24px;
    font-weight:400;
}
.faq-section .accordion{
    --bs-accordion-color:rgb(255,255,255);
    --bs-accordion-bg:rgb(45,45,45);
    --bs-accordion-border-color:none;
    --bs-accordion-border-radius:none;
}

.faq-section .accordion-item:first-of-type .accordion-button{
    border-top-left-radius:0;
    border-top-right-radius:0;
}
.faq-section .accordion-button:focus {
    border:none;
    box-shadow: none;
     
}

.faq-section .accordion-button:hover{
    background-color: rgb(65,65,65);

}
.faq-section .accordion-button:not(.collapsed){
    background-color:rgb(65,65,65);
    color:rgb(255,255,255);

}

.faq-section .accordion-button::after{
    content:"+";
    background-image: none;
    position:absolute;
    height:30px;
    font-size: 50px;
    top:5px;
    right:45px;


}
.faq-section .accordion-button:not(.collapsed)::after{
    background-image: none;
    transform: none;
    content:"\00d7"
}


/* footer section css  */

footer{
    border-top:5px solid #232323;

}
footer p,
footer a{
    color:rgba(255,255,255,0.7);
    font-size: 0.75rem;
    font-weight:400;}
    footer ul{
        padding-left:0;
        
    }

footer li{
    list-style-type: none;

}
footer select{
    background: transparent;
    color:#fff;
    padding-left: 40px;
    padding-right: 40px;
    appearance: none;
    border-radius: 5px;

}


/* mobile */
@media only screen and (max-width:992px){
    nav img{
        width:17%;

    }
    .hero-title,
    .section-title{
        font-size: 2rem;
        font-weight:700;

    }
    .hero-first-p,
    .hero-second-p,
    .section-paragraph,
    .faq-section h3{
        font-size: 1.125rem;

    }
    .purple-section img{
        width:50%;

    }

    .enjoy-section .container{
padding-top:5rem;

    }
}
@media only screen and(max-width:768px)
{
    nav img{
        width:25%;
    }
    header{
        height:100vh;

    }
    .purple-section .container-md{
        background: radial-gradient(120.35% 220% at 49.86% -6.29%,#e50914 0%, #0e1b4f 46.15%, #0d1121 100%);
        padding-top:4rem;
        margin:0 24px;

    }
    .purple-section img{
        position: fixed;
        width:15%;
        top:-50px;
        left:45px;

    }
}
@media only screen and(max-width:576px)
{
    nav img{
        width:35%;
    }
    header{
        height:110vh;

    }
    form .form-floating{
        width:90%;
    }

    
    .purple-section img{
       
        width:20%;
        top:-45px;
        left:45px;

    }
}